*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
@font-face{
    font-family: 'myfont';
    src:url(new.ttf.ttf)
}
:root{
    --primary-color: #f61e29;
    --secondary-color: lightgrey;
}
body{
    background-color: #191414;
    font-family: sans-serif;
}
header{
    padding: .5rem;
    display: flex;
    justify-content: space-between;
    background-color: #000000;
    align-items: center;
    
}
.heading{
    font-family: 'myfont';
    font-size: 3rem;
    color: #f61e29;
    margin-left: 1.5rem;
    cursor: pointer;
}
.heading:hover{
    transform: translateX(10px) translateY(10px) scale(1.2);
    transition: all .3s ease-in-out;
}
.navlists ul {
    display: flex;
    gap: 2rem;
    
}
.search{
    background-color: transparent;
    border: 2px solid var(--secondary-color);
    border-radius: 50px;
    font-size: 1rem;
    padding: 1rem;
    color: white;
    width: 20rem;
    
    font-weight: 700;
}


.search::placeholder{
    color: white;

}
.search:focus{
    outline: none;
}
main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.movie{
    width: 300px;
    margin: 1rem;
    background-color: black;
    box-shadow: 0 4px 5px rgba(0,0,0,0.2);
    position: relative;
    overflow: hidden;
    border-radius: 3px;
}

.movie img{
    width: 100%;
}
.movie-info{
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 1px;
}
.movie-info span{
    background-color: white;
    padding: 0.25rem 0.5rem;
    border-radius: 3px;
    font-weight: bold;
}
.movie-info span.green{
    color: green;
}
.movie-info span.orange{
    color: orange;
}
.movie-info span.red{
    color: red;
}

.overview{
    background-color: var(--secondary-color);
    color: black;
    padding: 2rem;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    max-height: 100% ;
    transform: translateY(101%);
    transition: transform 0.3s ease;
}
.movie:hover .overview{
    transform: translateY(0);
}
@media (max-width: 600px){
    .heading{
        display: none;
    }
    .search{
        margin-left: 40px;
    }
}